{{#>layouts/base}}
<!-- Wrapper -->
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>{{Title}}</h2>
            {{Author}}{{Date}}{{Category}}
            <p>{{Description}}</p>
        </div>
    </header>

    <!-- Content -->
    <div class="wrapper">
        <div class="inner">
            {{{Content}}}
        </div>
    </div>

</section>
{{/layouts/base}}