{{#>layouts/base}}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-hashtag"></span></div>
        <h2>
            {{Site.Title}}
        </h2>
        <p>{{Site.SubTitle}}</p>
    </div>
</section>
<!-- Wrapper -->
<section id="wrapper">
    {{#each Posts}}
    <section id="post{{@index}}" class="wrapper spotlight {{alt @index "alt style3" "style1"}}">
        <div class="inner">
            <a href="{{Permalink}}" class="image">
                <div class="image-container"><img src="{{BannerImage}}" alt="Image: {{Title}}" /></div>
            </a>
            <div class="content">
                <a href="{{Permalink}}"> <h2 class="major">{{Title}}</h2></a>
                {{>post-data}}
                <p>{{Description}}</p>
                <a href="{{Permalink}}" class="special">Learn more</a>
            </div>
        </div>
    </section>
    {{/each}}
    <section class="wrapper pagination {{alt PostsCount "alt" ""}} style2">
        {{#partial-helper}}
        {{>pagination}}
        {{/partial-helper}}
    </section>
</section>

{{/layouts/base}}