{{#>layouts/base}}
<!-- Wrapper -->
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>{{Title}}</h2>
            <p>&nbsp;</p>
        </div>
    </header>

    <!-- Content -->
    <section class="wrapper">
        <div class="inner">
            <section class="features">
                {{#each Posts}}
                <article id="post{{@index}}">
                    <a href="{{Permalink}}" class="image"><img src="{{BannerImage}}" alt="{{Title}}" /></a>
                    <a href="{{Permalink}}"> <h3 class="major">{{Title}}</h3></a>
                    {{>post-data}}
                    <p>{{Description}}</p>
                    <a href="{{Permalink}}" class="special">Learn more</a>
                </article>
                {{/each}}
            </section>
        </div>
    </section>

    <div class="pagination">
        {{#partial-helper}}
        {{>pagination}}
        {{/partial-helper}}
    </div>

</section>
{{/layouts/base}}