<aside class="post-data">
    <span>
        <span class="icon fa-calendar"></span>
        <span>{{format Date "yyyy-MM-dd"}}</span>
    </span>
    <span>
        <span class="icon fa-user"></span>
        <span>{{Author}}</span>
    </span>
    <span>
        <span class="icon fa-folder"></span>
        <span class="categories">
            {{#each Categories}}
            <a href="{{@value}}">{{@key}}</a>
            {{/each}}
        </span>
    </span>
    {{#ifContext @root "post"}}
    <span>
        <span class="icon fa-tags"></span>
        <span class="categories">
            {{#each Keywords}}
            <a href="{{@value}}">{{@key}}</a>
            {{/each}}
        </span>
    </span>
    {{/ifContext}}
</aside>